{% extends "blog/html/base.html" %}

{% block  body_content %}
    <article class="media content-section">
     <img class="rounded-circle account-img" src="{{ user.profile.picture.url }}" alt="Profile Picture">
      <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-profile-detail' object.author.profile.pk %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.created_on|date:"F d, Y" }}</small>
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.pk %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.pk %}">Delete</a>
            </div>
        </div>
        <h2>{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
      </div>
    </article>
{% endblock body_content %}