{% extends "blog/html/base.html" %}
{% load crispy_forms_tags %}

{% block  body_content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.picture.url }}" alt="Profile Picture">
            <div class="media-body">
              <h2 class="account-heading">{{ user.username }}</h2>
              <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <form method="post" enctype="multipart/form-data"> <!-- encoding is required to save images-->
            {% csrf_token %} {% comment %} madatory for django!{% endcomment %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Details</legend>
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock body_content %}